

@media (max-width: 64em){
  /* 64em = 1024px */
  .locationList {
    max-height: 30vh;
    overflow: auto;
    margin-bottom: 20px;
  } 
}

.forecast-title{
  color: white;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
}